<h5>Recent Activities</h5>
            <hr>

            {% for message in room_message %}
            <div>
                <small><a href="{% url 'user-profile' message.user.id %}">@{{message.user}} </a>   {{message.created|timesince}} ago</small>
                <small>replied to "{{message.room}}"</small>
                
                <p>{{message}}</p>
                {% if request.user == message.user %}
                <span><a href="{% url 'delete-home-message' message.id %}">Delete</a></span>
                {% endif %}
                <hr>
            </div>
            {% endfor %}